.chat-container {
	height: 100vh;
}

.chat-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;



	color: white;
	font-weight: bold;
	font-size: 1.5rem !important;
}

.chat-close {
	color: inherit;
}

.chat-content {
	background-color: rgb(209, 209, 209);
	overflow: scroll;
}

.chat-input {
	display: flex;
}

.send-button {
	margin-left: 5%;
}