.container {
	min-height: 100vh;
	min-width: 100%;
}


.join-page {
	background-color: #fff;
	padding: 24px;

	min-width: 100%;
	min-height: 70vh;
	height: 100%;

	margin-bottom: 0 !important;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.join-head {
	text-align: center;
}


.join-form {
	display: flex;
	justify-content: center;
	align-items: center;

	flex-direction: column;
	flex: 1;

	padding-bottom: 5%;
}